{% extends 'base.html.twig' %}

{% block title %}Modification gestionnaire de salle{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modification du gestionnaire de salle</h1>


        {{ include('pages/gestionnaire_salle/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {{ include('pages/gestionnaire_salle/_delete_form.html.twig') }}

        <div class="mt-4">
        <a href="{{ path('app_gestionnaire_salle_index') }}" class="btn btn-light btn-sm mb-4">retour à la liste</a>
        </div>

    </div>
{% endblock %}
