{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {# Jumbotron permet d'afficher un bloc en haut d'une page web, avec pour objectif d'attirer l'attention de l'utilisateur sur un élément en particulier. #}
    {# "mt-4" permet d'appliquer une marge externe en haut de 1.5rem.
    "m" = margin, "t" = top, "4" = 1.5rem #}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Réservations de salles meurchinoises</h1>
        </div>
    </div>
    
    {{dump(data)}}
    {# appelle le composant FullCalendar #}
    <div class="calendrier" {{ react_component('CalendarComponent') }}></div>
{% endblock %}
