{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
    {# Jumbotron permet d'afficher un bloc en haut d'une page web, avec pour objectif d'attirer l'attention de l'utilisateur sur un élément en particulier. #}
    {# "mt-4" permet d'appliquer une marge externe en haut de 1.5rem.
    "m" = margin, "t" = top, "4" = 1.5rem #}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Réservations de salles</h1>
        </div>
    </div>
{% endblock %}
