{% extends 'base.html.twig' %}

{% block title %}Éditer Reservation{% endblock %}

{% block body %}
    <h1>Éditer Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_reservation_index') }}">retour à la liste</a>
{% endblock %}
