{% extends 'base.html.twig' %}

{% block title %}Éditer GestionnaireSalle{% endblock %}

{% block body %}
    <h1>Éditer GestionnaireSalle</h1>

    {{ include('gestionnaire_salle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestionnaire_salle_index') }}">retour à la liste</a>

    {{ include('gestionnaire_salle/_delete_form.html.twig') }}
{% endblock %}
