{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Création d'une réservation</h1>

        {{ include('pages/reservation/_form.html.twig') }}

        <div class="mt-4">
            <a href="{{ path('app_reservation_index') }}" class="btn btn-light btn-sm mb-4">retour à la liste</a>
        </div>
    </div>
{% endblock %}
