{% extends 'base.html.twig' %}

{% block title %}Éditer Salle{% endblock %}

{% block body %}
    <h1>Éditer la Salle</h1>

    {{ include('salle/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_salle_index') }}">retour à la liste</a>
{% endblock %}
