{% extends 'base.html.twig' %}

{% block title %}Éditer TypeReservation{% endblock %}

{% block body %}
    <h1>Éditer TypeReservation</h1>

    {{ include('type_reservation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_type_reservation_index') }}">retour à la liste</a>
{% endblock %}
