{% extends 'base.html.twig' %}

{% block title %}Éditer User{% endblock %}

{% block body %}
    <h1>Éditer User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">retour à la liste</a>
{% endblock %}
